*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica,sans-serif,Arial  ;
    background: #fff url(../images/bg.png);
    margin: 15px;
   

}

#container {
    background: #ede9cc url(../images/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 1180px;
    max-width: 1180px;
    
 }

#topo{
    background: url(../images/topo-imagem-principal.png) no-repeat ;
    height: 15.4em;
    min-height: 250px;
    position: relative;
}

#area-logo{
    background:url(../images/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

.logo a{

    position: absolute;
    top:15px;
    left:15px;
    z-index: 3;
    background: url(../images/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -10000px;

}

#area-menu{

    z-index: 2;
    background: url(../images//topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    position: absolute;
    top:0;
    right:0
    

}
 #conteudo-menu{
     margin-left : 90px;
     margin-right: 15px;
     padding-top: 15px;
 }

 #menu-locais {
     border-bottom: 1px solid #b5ab56 ;
     border-top: 1px solid #b5ab56 ;
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 0.7em;
     color: #8b8448;
     
     
 }

 a{
     text-decoration: none;
 }

 #menu-locais .locais{
    line-height: 2.1em;
    float:left;
 }

 a.reserva{
     text-transform: uppercase;
     background: #a29750;
     color: #fff5b0;
     padding: 5px 10px;
     float:right;
 }

 /*barra de navegação vertical*/

 #menu{
     margin-top: 15px;
 }

 ul#navegacao{
    float:left;
    list-style: none;
    
 }

 ul#navegacao a{
     width: 90px;
     line-height: 31px;
     display: inline;
     color: black;

 }

 ul#navegacao a:hover{
   color: #a29750;

}
#imagem-menu{
    float:right;
    top:0;
}
/*Area de conteúdos*/

#conteudo-direita{
    background: url(../images/bg-area-lateral.png) top left repeat-x;
    float: right;
    width: 50%;
    padding: 20px 0px;
}
#conteudo-esquerda{
    float:left;
    width: 50%;
    background: url(../images/bg-area-principal.png) top left repeat-x;
    padding: 15px 0px;
}
.area-conteudo{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

#rodape{
 
    clear: both;
}

#conteudo-esquerda h2{
    color: #4e471a;
    line-height: 30px;;
    margin-top: 10px;
}

#conteudo-esquerda p{
    line-height: 30px;
}

/*rodapé
*/
#rodape{
    background: #fff url(../images/bg-rodape.png);
    text-align: center;
    height: 30px;
    color: #4e471a;
    line-height: 29px;
}

/*Area de conteudos laterais*/

#links-laterais{
    list-style: none;
}

#links-laterais li{
    border-bottom:1px solid #f3efcb ;
    padding: 8px;
    height: 6em;
    padding-bottom: 20px;
}

#links-laterais li a img{
    float: left;
    margin-right: 8px;
}
#links-laterais li a h3{
    color: #53481b;
    
}
#links-laterais li a{
    text-decoration: none;

}

#links-laterais li p{
    padding: 6px;
    text-decoration: none;
    line-height: 20px;
    color: black;
    font-size: 0.9em;
    background: url(../images/ornamento.png) no-repeat right top ;
}

#links-laterais li a:hover{
    cursor: pointer;
}

/*Formatação pagina historia*/
#pagina-historia{
    background: #efeacc;
}

#pagina-historia img {
    display: block;
    margin: auto;
    padding: 40px;
    width: 500px;
    height: 500x;
    
}
#pagina-historia p {
    line-height: 30px;
    padding: 10px 20px;
}

#pagina-historia h2 {
    color:#53481b;
    text-align: center;
    padding: 20px;
}

/*Formatação pagina gastronomia*/

#pagina-gastronomia{
    background: #efeacc;

}
#pagina-gastronomia h2 {

    color:#53481b;
    text-align: center;
    padding: 20px;
}
#pagina-gastronomia #info-principal{
    padding:  10px 90px;
    font-size: 15px;
}

#pagina-gastronomia #img-1{
    padding: 40px;
    float: left;
}

#pagina-gastronomia #conteudo-1{
    padding: 40px 60px; 

}

#pagina-gastronomia #img-2{
    padding: 40px;
    float: right;
}
#pagina-gastronomia #conteudo-2{
    text-align: right;
    padding-top : 90px;

}

#pagina-gastronomia #post{
    padding: 20px;
}
















